<?xml version="1.0"?>
<robot name = "black_maine_robot" xmlns:xacro = "http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- Include accessories -->
  <xacro:include filename="$(find ydlidar_ros)/urdf/ydlidar.urdf" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find black_maine_description)/urdf/accessories/pincher.urdf.xacro" />
  <xacro:include filename="$(find black_maine_description)/urdf/accessories/realsense_d435.urdf.xacro" />

  <!-- base -->
  <xacro:kobuki/>

  <link name="body_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://black_maine_description/mesh/body.stl" />
      </geometry>
      <material name="">
        <color rgba="0.20 0.20 0.20 1" />
      </material>
    </visual>
  </link>
  <joint name="body_joint" type="fixed">
    <origin xyz="0 0 0.0884" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="body_link"/>
  </joint>

  <link name="arm_base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://black_maine_description/mesh/arm_base.stl" />
      </geometry>
      <material name="">
        <color rgba="0.20 0.20 0.20 1" />
      </material>
    </visual>
  </link>
  <joint name="arm_base_joint" type="fixed">
    <origin xyz="0.121 0 0.081" rpy="0 0 0" />
    <parent link="body_link"/>
    <child link="arm_base_link"/>
  </joint>

  <xacro:sensor_d435 parent="body_link" prefix="camera">
    <origin xyz="0.12975 0 0.30487" rpy="0 ${M_PI/3} 0"/>
  </xacro:sensor_d435>

  <joint name="ydlidar_joint" type="fixed">
    <origin xyz="0 0 0.075" rpy="${M_PI} 0 ${M_PI/3*2}" />
    <parent link="body_link"/>
    <child link="base_laser"/>
  </joint>

  <xacro:phantomx_pincher_arm parent="arm_base_link">
  </xacro:phantomx_pincher_arm>
</robot>
